@font-face {
    src: url("../fonts/Raleway.ttf");
    font-family: "Raleway";
}

@font-face {
    src: url("../fonts/Raleway-Light.ttf");
    font-family: "Raleway-Light";
}

@font-face {
    src: url("../fonts/Raleway-Medium.ttf");
    font-family: "Raleway-Medium";
}

@font-face {
    src: url("../fonts/Raleway-Bold.ttf");
    font-family: "Raleway-Bold";
}

@font-face {
    src: url("../fonts/Raleway-Black.ttf");
    font-family: "Raleway-Black";
}

@font-face {
    src: url("../fonts/Roboto.ttf");
    font-family: "Roboto";
}

@font-face {
    src: url("../fonts/Roboto-Bold.ttf");
    font-family: "Roboto-Bold";
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

body {
    margin: 0;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}
body * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 58px;
    line-height: 68px;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #333333;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
}

h4 {
    margin: 0;
    padding: 0;
    font-family: "Raleway-Black", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;
}

button {
    background: #012435;
    height: 60px;
    border-radius: 60px;
    border: none;
    padding: 12px 0;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

input,
textarea {
    width: 100%;
    border: 1px solid #E4E6E8;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 12px 20px;
    font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #333333;
}
textarea {
    resize: none;
    height: 170px;
}
input:active,
textarea:active {
    border: 1px solid #045279;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #888888;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #888888;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #888888;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #888888;
}
input::placeholder,
textarea::placeholder {
    font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #888888;
}

input {
    height: 64px;
}

label {
    text-align: center;
    margin-bottom: 10px;
    font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #333333;
}

form button {
    width: 330px;
    height: 90px;
    font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/* common classes */
.container {
    max-width: 1120px;
    width: 95%;
    margin: 0 auto;
}

.socials-block {
    width: 70px;
    height: 27px;
    padding: 5px;
    border-radius: 27px;
    background: rgba(217, 217, 217, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.socials-block__social {
    width: 16px;
    height: 16px;
    margin: 0 6px;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 15px;
}
.logo__name {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}
.logo__company {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.18em;
}

.entry-shown {
    opacity: 0;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
}
.entry-shown.active {
    opacity: 1;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
}

/* Pages */
.hero {
    height: 650px;
    padding: 10px;
    background-color: #012435;
    color: #FFFFFF;
}

.hero-background {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: no-repeat center/cover url('../imgs/hero_bg_1.jpg');
}

.hero-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(217, 217, 217, 0.45);
    border-radius: 20px; 
    z-index: 0;
}

.hero-container {
    position: relative;
    padding: 30px 0;
    height: 630px;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.hero-header {
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.hero-header__first {
    width: 100%;
    display: grid;
    grid-template-columns: 160px 1fr 175px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.hero-header__first__nav {
    max-width: 455px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.hero-header__first__nav-link {
    padding: 0 10px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    cursor: pointer;
}
.hero-header__first__left {
    width: 100%;
    margin-left: auto;
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.hero-header__first__locales {
    margin-right: 10px;
    width: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.hero-header__first__locale {
    cursor: pointer;
    padding: 0 3px;
}

.hero-header__second {
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.hero-header__third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.hero-header__third__contacts {
    width: 160px;
    height: 24px;
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.hero-header__third__contact-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.hero-title {
    margin-top: 40px;
}
.hero-title__main {
    margin: 10px 0 100px;
}

.hero-button {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    padding-left: 48px;
    padding-right: 48px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
}

.hero-text {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: auto 95px 10px auto;
    max-width: 500px;
    height: 111px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    padding-right: 10px;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
}

.jorney {
    color: #FFFFFF;
    background: -o-linear-gradient(356.62deg, rgba(0, 19, 29, 0.84) 0.27%, rgba(1, 41, 60, 0.85) 38.83%, rgba(4, 82, 121, 0.66) 97.9%);
    background: linear-gradient(93.38deg, rgba(0, 19, 29, 0.84) 0.27%, rgba(1, 41, 60, 0.85) 38.83%, rgba(4, 82, 121, 0.66) 97.9%);
    height: 430px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.jorney-container {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.jorney-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.3em;
    margin-bottom: 30px;
}

.jorney-description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.11em;
}

.jorney-description__first,
.jorney-description__second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
}

.jorney-description__first {
    text-align: right;
    margin-right: 10px;
    padding-right: 15px;
    border-right: 1px rgba(255, 255, 255, 0.2) solid;
}

.jorney-description__second {
    text-align: left;
    margin: 45px 0 0 10px;
    padding-left: 15px;
    border-left: 1px rgba(255, 255, 255, 0.2) solid;
}

.jorney-center {
    text-align: center;
    margin-top: 25px;
    font-size: 16px;
    line-height: 26px;
}

.cards {
    height: 485px;
    margin: -70px 0 100px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.cards-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 23px;
}
.cards-card__img {
    width: 360px;
    height: 400px;
    -webkit-box-shadow: 8px 13px 16px rgba(0, 0, 0, 0.25);
            box-shadow: 8px 13px 16px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
    z-index: 100;
}
.cards-card__img__first {
    background: no-repeat center/cover url('../imgs/tour.jpg');
}
.cards-card__img__second {
    background: no-repeat center/cover url('../imgs/trip.jpg');
}
.cards-card__img__third {
    background: no-repeat center/cover url('../imgs/specials.jpg');
}
.cards-card__text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 200;
    background: rgba(0, 19, 29, 0.35);
    border-radius: 20px;
    padding: 28px 36px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    -o-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}
.cards-card__text.active {
    visibility: visible;
    opacity: 1;
}
.cards-card__text:last-child {
    -ms-flex-item-align: start;
        align-self: flex-start;
}
.cards-card__text__last {
    text-align: left;
}
.cards-card__text__list-el {
    margin-left: 18px;
}
.cards-card__title {
    color: #012435;
    margin-top: 30px;
    font-size: 25px;
    line-height: 29px;
}

.boat-container {
    color: #333333;
    height: 620px;
    display: grid;
    grid-template-columns: 645px 1fr;
}

.boat-images {
    position: relative;
}
.boat-images__img {
    position: absolute;
    top: 120px;
    right: 0;
    width: 612px;
    height: 429px;
    border-radius: 10px;
    z-index: 300;
}
.boat-images__shadow {
    position: absolute;
    top: 96px;
    left: 0;
    width: 459px;
    height: 305px;
    background: rgba(1, 36, 53, 0.25);
    border-radius: 10px;
    z-index: 200;
}
.boat-images__text {
    position: absolute;
    top: 496px;
    left: 135px;
    padding: 10px;
    width: 410px;
    height: 120px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 3px 7px 15px 3px rgba(0, 0, 0, 0.15);
            box-shadow: 3px 7px 15px 3px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.boat-text {
    margin-left: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.boat-text__title {
    text-align: center;
}
.boat-text__subtitle {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-top: 10px;
    max-width: 324px;
}
.boat-text__list {
    margin-top: 40px;
    max-width: 405px;
    height: 345px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: 'Raleway-Light';
    font-size: 13px;
    line-height: 15px;
    list-style: none;
}
.boat-text__list-el {
    padding-left: 25px;
    position: relative;
}
.boat-text__list-el::before {
    position: absolute;
    content: '';
    top: calc(50% - 5px);
    left: 0;
    width: 4px;
    height: 4px;
    border: 3px #045279 solid;
    border-radius: 50%;
}

.people-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
}

.people-person {
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.people-person:first-child {
    margin-top: 70px;
}
.people-person__image {
    height: 144px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.people-person__image__ava {
    width: 115px;
    height: 115px;
    border: 4px solid #D9D9D9;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
}
.people-person__image__title {
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.people-person__text {
    width: 360px;
    height: 200px;
    background: rgba(0, 19, 29, 0.75);
    border-radius: 10px;
    color: #FFFFFF;
    padding: 29px 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.clients {
    overflow-x: hidden;
    margin-top: 130px;
}

.clients-title {
    text-align: center;
    margin-bottom: 20px;
}

.clients-content {
    position: relative;
    height: 500px;
}
.clients-slider {
    position: absolute;
    top: 0;
    left: calc(50% - 870px);
    width: 1740px;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
}
.clients-slider__client {
    position: relative;
    width: 560px;
    height: 100%;
}
.clients-slider__client__card {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 560px;
    height: 410px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
    border-radius: 95px 40px;
    padding: 195px 75px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.clients-slider__client__card__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
}
.clients-slider__client__card__stars img {
    width: 15px;
    height: 15px;
}
.clients-slider__client__card__stars img:not(:last-child) {
    margin-right: 13px;
}
.clients-slider__client__card__text {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
.clients-slider__client__img {
    position: absolute;
    top: 30px;
    left: calc(50% - 130px);
    border-radius: 10px;
    width: 250px;
    height: 215px;
    -o-object-fit: cover;
       object-fit: cover;
}
.clients-slider__client.active .clients-slider__client__img {
    top: 15px;
    width: 270px;
    height: 230px;
}
.clients-slider__client__card__name {
    margin-top: auto;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    color: #101A24;
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.feedback {
    margin: 100px 0;
}
.feedback-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 500px;
}
.feedback-decription {
    font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    text-align: center;
    color: #999999;
}

.feedback-form {
    width: 930px;
}

.feedback-form__inputs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.footer {
    height: 264px;
    background: #00131D;
    border-radius: 10px 10px 0px 0px;
    color: #FFFFFF;
    padding: 45px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
}

.footer-contacts__list {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin-top: 25px;
    height: 114px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer-contacts__elem {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer-contacts__logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.footer-socials {
    -ms-flex-item-align: center;
        align-self: center;
    margin-left: 60px;
}
.footer-socials__text {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}
.modal.visible {
    display: block;
}
.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.modal-book {
    width: 980px;
    height: 750px;
    background: #FFFFFF;
    -webkit-box-shadow: 9px 11px 21px rgba(0, 0, 0, 0.25);
            box-shadow: 9px 11px 21px rgba(0, 0, 0, 0.25);
    padding: 50px 130px;
}

.modal-book-title {
    text-align: center;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 30px;
}

.book-form__inputs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
}
.book-form__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* #modal-qa {
    display: block; 
}  
*/
.modal-qa-container {
    width: 930px;
    background-color: #FFFFFF;
    border-radius: 50px;
    color: #FFFFFF;
}

.modal-qa {
    width: 100%;
    background: -o-linear-gradient(293.51deg, rgba(0, 19, 29, 0.84) 0.54%, rgba(0, 19, 29, 0.84) 21.37%, rgba(1, 35, 52, 0.794031) 41.45%, rgba(4, 82, 121, 0.66) 100%);
    background: -o-linear-gradient(293.51deg, rgba(0, 19, 29, 0.84) 0.54%, rgba(0, 19, 29, 0.84) 21.37%, rgba(1, 35, 52, 0.794031) 41.45%, rgba(4, 82, 121, 0.66) 100%);
    background: linear-gradient(156.49deg, rgba(0, 19, 29, 0.84) 0.54%, rgba(0, 19, 29, 0.84) 21.37%, rgba(1, 35, 52, 0.794031) 41.45%, rgba(4, 82, 121, 0.66) 100%);
    border-radius: 50px;
    padding: 26px 39px 26px 68px;
}
.modal-qa__title {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.modal-qa__text {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
}
